
.home-header{
  background-size: cover;
  background-position: center;
  background-image: url("../assets/home_banner.jpg");

  height: 4em;
  padding-top:1.5em;
  padding-bottom: 5em;

  font-weight: 900;
  padding-left:1.8em;
}

.resume-container{
  margin:5vw;
  background-color: #26492f;
  border: 1px solid #262930;
  border-radius: 3px;
}

.resume-sub-container{
  margin: 1vw;
  margin-left: 20vw;
  margin-right: 20vw;
  background-color: #282c34;
  border: 1px solid #262930;
  border-radius: 3px;
}
.pdf{
  width: 100%;
        aspect-ratio: 4 / 3;
}