

.App {
  text-align: center;
}
.Title{
  background-color: black;
  text-align: left;
  margin-left: 1.5em;
}

.pgheader{
  background-size: cover;
  background-position: center;

  padding-top:2em;
  padding-bottom: 5em;
}

.Navbar {
  margin:0;
  overflow: hidden;
  width: 100%;

  background-color: black;
}

.Navbutton{
  display:block;
  float:left;
  padding: 1em 2em;
  margin: 0.5em;
  
  background-color: rgb(61, 107, 47);
  color: #ded7d7;
  text-decoration: none;
}

.Navbutton:hover{
  background-color: #282c34;
}

.App-footer{
  background-color: #282c34;
  height: 10vw;

  color: #ded7d7;
  margin-top: 5vw;
  padding-top: 1vw;

  font-size: medium;
}

.footer-container{
  margin-top: 2vw;
  display: flex;
  flex-flow:row;
  justify-content: space-evenly;

}

