body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

    background-color: #243a2e;
    color:#ded7d7;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a{
  color: #7ec4d9;
}

.default-header{
  background-size: cover;
  background-position: 0px -300px;

  height: 4em;
  padding-top:1.5em;
  padding-bottom: 5em;

  font-weight: 900;
  padding-left:1.8em;
}

.default-container{
  margin: 5vw;
  background-color: #26492f;

  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.default-sub-container{
  margin: 1vw;
  background-color: #282c34;

  padding: 1vw;
  width: 50vw;

}

.default-image{
  width: 30vw;
  height: 30vw;
}